<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-avatar class="image-center">
      <img src="https://img.icons8.com/ios/50/000000/user--v1.png" />
    </ion-avatar>
  </ion-item>
  <ion-chip>
    <ion-label>usuário</ion-label>
  </ion-chip>
  <ion-button expand="block" size="small" shape="round"  fill="clear" class="amorzinho">
    trocar usuário
  </ion-button>
  <ion-chip>
    <ion-label>senha</ion-label>
  </ion-chip>
  <ion-button expand="block" size="small" shape="round"    fill="clear" class="amorzinho">trocar senha</ion-button>
  <ion-button routerLink="/mapa" shape="round" color="light">
    <ion-icon name="arrow-back-sharp"></ion-icon>
  </ion-button>
</ion-content>