<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-avatar>
  <img src="https://img.icons8.com/ios/50/000000/user--v1.png"/>
</ion-avatar>
<ion-chip>
  <ion-label>usuário</ion-label>
</ion-chip>
  <ion-button expand="block" size="small" shape="round" color="dark">
trocar usuário
  </ion-button>
  <ion-chip>
    <ion-label>senha</ion-label>
  </ion-chip>
  <ion-button expand="block" size="small" shape="round" color="dark">trocar senha</ion-button>
  <ion-button routerLink="/home" shape="round" color="light"><ion-icon name="arrow-back-sharp"></ion-icon></ion-button>
</ion-content>
