.botaoredondo{
    --border-radius: 50%;
    width: 60px;
    height: 60px;  
    color: rgb(100, 98, 100);
    position: absolute;
    top: 0;
    left: 0;
    
}

.content{
    position: relative;

}
