<ion-header>
  <ion-toolbar>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">


  <!-- MUDAR DEPOIS PARA BOTAO MAIS BONITO -->
  <ion-button routerLink="/perfil" fill="clear" class="botaoredondo" >
    <ion-icon name="menu-outline" style="font-size: 37px;"></ion-icon>
  </ion-button>


  
  <!-- mapa -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6917.738361052593!2d-51.14934642369876!3d-23.296003463010592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1625538537354!5m2!1spt-BR!2sbr" width="99%" height="99%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  
  





<!-- agenda fazer um scroll maior-->
  <ion-menu side="end" type="push" contentId="agenda">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>End Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="agenda" class="content"></ion-router-outlet>
  
</ion-content>