<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     login 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="purple" class="centralizar">

    
      <img src="https://cdn.discordapp.com/attachments/822613847059595295/864304820079689778/logo_white.png" class="image-center"/>
   
    
    <ion-button routerLink="/logingerente" shape="round" color="dark" size="medium" expand="block">
     gerente 
    </ion-button>
  <ion-button routerLink="/loginrepresentante" expand="block" shape="round" color="dark" size="medium">
    Representante
  </ion-button>
 </ion-content>