<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Faça o login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="purple">
    <ion-button routerLink="/logingerente" expand="full">
      Login como gerente 
    </ion-button>
  <ion-button routerLink="/loginrepresentante" expand="full">Login como Representante</ion-button>
<ion-button routerLink="/mapa"  >map</ion-button>
<ion-button routerLink="/perfil"  >perfil</ion-button>
</ion-content>