<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     login 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="purple" class="centralizar">
    <ion-button routerLink="/logingerente" shape="round" color="dark" size="medium" expand="block">
     gerente 
    </ion-button>
  <ion-button routerLink="/loginrepresentante" expand="block" shape="round" color="dark" size="medium">
    Representante
  </ion-button>
<ion-button routerLink="/mapa" shape="undefined" color="dark">
  map
</ion-button>
<ion-button routerLink="/perfil" shape="undefined" color="dark">
  perfil
</ion-button>
</ion-content>